{{! <h2><i class="fas fa-book-reader"></i>Monogatari</h2>
<div class="section">
    <p class="lead">Create public and private stories</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1"><i class="fab fa-google left"></i>Log In With google</a>
</div> }}
<section id="banner">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><i class="fas fa-book-reader icon"><small>Monogatari</small>
        </i></a>
    </div>
  </nav>

  <div class="row">
    <div class="col s12 m6 l4">
      <div class="section">
          <h2><i class="fas fa-book-reader"></i>Monogatari</h2>
        <p class="lead">Unleash the writer in you</p>
      </div>
      <a href="/auth/google" class="btn darken-1"><i
          class="fab fa-google left"
        ></i>Log In With google</a>
    </div>
    <div class="col s12 m6 l7">
      <img src="/images/banner.png" class="img-book" alt="read" />
    </div>
  </div>

</section>